# Holyiot YJ-14001 board configuration

# Copyright (c) 2022 Christoppher Biggs <christopher@biggs.id.au>
# SPDX-License-Identifier: Apache-2.0

if BOARD_HOLYIOT_YJ14001

config BOARD
	default "holyiot_yj14001"

config BT_CTLR
	default BT

endif # BOARD_HOLYIOT_YJ14001
