# Accelerando Redsoil (with eByte E73-2G4M08S1C nrf52840 System-on-module) configuration

if BOARD_ACCELERANDO_REDSOIL

config BOARD
	default "accelerando_redsoil"

config BT_CTLR
	default BT

endif # BOARD_ACCELERANDO_REDSOIL
